*{
    padding: 0px;
    margin: 0px;
}
html{
    width: 100%;   height:  100%; overflow: hidden;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;    height: 100%;
}
div#global{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
aside{
    width: 20vw;
    height: 100%;
    background-color: #556574;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 100vw;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
div.logotipo{
    width: 100%;
    height: 50px;
    background-image: url(./image/Logotipo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 45%;
    margin-top: 10px;
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    color: #FFF;
    display: flex;
    justify-content: center;
    background-color: #0c6dfc;
    text-align: center;
}
header{
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    padding-left: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    color: #556574;
    flex-direction: column;
}
header p{
    font-size: 10pt;
    font-weight: normal;
}
header p a{
    color: #0c6dfc;
    text-decoration: none;
}
form{
    width: 98%;
    height: 100%;
    /*border: solid 0.5px rgb(182, 62, 82);*/
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
div.topo_formulario{
    width: 100%;
    /*background-color: #556574;*/
    color: #0c6dfc;
    height: 40px;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    column-gap: 10px;
}
table{
    width: 98%;
    height: 10%;

}
th{
    font-weight: normal;
    text-align: left;
    /*background-color: #0c6dfc;*/
    border: solid 10px transparent;
    height: 5px;
}
td{
    font-weight: normal;
    height: 30px;
    text-align: left;
    border: solid 10px transparent;
}
input[type="text"]{
    width: 100%;
    height: 30px;
    border: solid 0.5px #979797;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
}
::placeholder{
    
}
textarea{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    border: solid 0.5px #979797;
    border-radius: 5px;
    resize: none;
    outline: none;
}
input[type="number"]{
    width: 100%;
    height: 30px;
    border: solid 0.5px #979797;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
}
input[type="date"]{
    width: 100%;
    height: 30px;
    border: solid 0.5px #979797;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
}
input[type="submit"]{
    width: 100%;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #0c6dfc;
    color: #FFF;
    cursor: pointer;
}